.message {
  animation: fadeInOut 3s ease-in-out forwards;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 4rem;
  text-align: center;
  width: 100%;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#deck-container {
  align-items: center;
  background-color: var(--bg-element);
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 2rem;
  width: 100%;
}

#deck-top {
  text-align: center;
  width: 100%;
  h1 {
    margin-bottom: 4rem;
  }
}

#deck-bottom {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#deck-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  label {
    padding: 1rem;
    input {
      background-color: transparent;
      border: 2px solid black;
    }
    button {
      align-items: center;
      background-color: var(--accent-2);
      display: flex;
      font-size: 1rem;
      font-weight: bold;
      margin-left: auto;
      margin-top: 0.5rem;
      padding: 0.5rem 1rem;
    }
    button.invalid {
      background-color: var(--bg-input);
    }
    select {
      background-color: var(--bg-input);
      border: none;
      border-right: 0.5rem solid transparent;
      font-size: 1rem;
      font-weight: bold;
      margin-right: auto;
      margin-top: 0.25rem;
      padding: 0.25rem;
      option {
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
  > button {
    background-color: var(--accent-2);
    padding: 0.5rem;
    margin: 1rem 1rem 0 1rem;
  }
}
