#flashcard-container {
  align-items: center;
  background-color: var(--bg-element);
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  width: 80%;
}

#flashcard-top {
  position: relative;
  text-align: center;
  width: 100%;
  button {
    background-color: transparent;
    display: flex;
    img {
      background-color: var(--bg-input);
      border-radius: 100%;
      cursor: pointer;
      height: 2.5rem;
      left: 0;
      padding: 0.5rem;
      position: absolute;
      width: 2.5rem;
    }
    img:hover {
      filter: brightness(90%);
    }
  }

  h1 {
    margin-bottom: 2rem;
  }
}

#flashcard-bottom {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}

#flashcard-preview {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-right: 1rem;
  width: calc(200% / 3);
}

#flashcard-front {
  border-radius: 0 0 2rem 0;
}

#flashcard-back {
  border-radius: 2rem 0 0 0;
}

#flashcard-front,
#flashcard-back {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  outline: 2px solid black;
  padding: 1rem;
  width: 100%;
  p {
    align-items: center;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    height: 100%;
    hyphens: auto;
    justify-content: center;
    margin: auto;
    max-height: 300px;
    overflow-y: auto;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
  }
  p.scroll {
    align-items: flex-start;
  }
  ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 1rem 0;
    li {
      align-items: center;
      background-color: var(--accent-2);
      border-radius: 0.25rem;
      clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
      display: flex;
      font-weight: bold;
      padding: 0.25rem 0.5rem 0.25rem 1rem;
      button {
        align-items: center;
        border-radius: 100%;
        display: flex;
        margin-left: 0.5rem;
        padding: 0;
        img {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
      button:hover {
        background-color: var(--focus);
      }
    }
    li {
      margin: 0.25rem;
    }
  }
  button {
    background-color: var(--bg-input);
    border-radius: 0.5rem;
    display: flex;
    margin: auto 0 0 auto;
    img {
      height: 2rem;
      width: 2rem;
    }
  }
  button:hover {
    background-color: var(--focus);
  }
}

#flashcard-form {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  width: calc(100% / 3);
  label {
    padding: 1rem;
    input {
      background-color: transparent;
      border: 2px solid black;
    }
    button {
      align-items: center;
      background-color: var(--accent-2);
      display: flex;
      font-size: 1rem;
      font-weight: bold;
      margin-left: auto;
      margin-top: 0.5rem;
      padding: 0.5rem 1rem;
    }
    button.invalid {
      background-color: var(--bg-input);
    }
    select {
      background-color: var(--bg-input);
      border: none;
      border-right: 0.5rem solid transparent;
      font-size: 1rem;
      font-weight: bold;
      margin-right: auto;
      margin-top: 0.25rem;
      padding: 0.25rem;
      option {
        font-size: 1rem;
        font-weight: bold;
      }
    }
    .checkbox-dropdown {
      font-size: 1rem;
      margin-top: 0.25rem;
      position: relative;

      width: 50%;
      .header {
        background-color: var(--bg-input);
        display: flex;
        padding: 0.25rem 0.5rem;
        justify-content: space-between;
      }
      .list {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25),
          0 6px 6px rgba(0, 0, 0, 0.22);
        max-height: 200px;
        overflow-y: auto;
        position: absolute;
        width: 100%;
        z-index: 1;
        .item {
          align-items: center;
          background-color: #ffffff;
          cursor: pointer;
          display: flex;
          flex-direction: row;
          hyphens: auto;
          padding: 0.5rem 1rem;
          text-overflow: ellipsis;
          word-wrap: break-word;
          word-break: break-word;
          input {
            margin: 0 1rem 0 0;
          }
        }
        .item:hover {
          background-color: var(--bg-input);
        }
      }
    }
  }
  label.active {
    background-color: var(--accent-1);
    border-radius: 0.5rem;
  }
  label:last-of-type {
    margin-bottom: auto;
  }
  > button {
    background-color: var(--accent-2);
    padding: 0.5rem;
    margin: 1rem 1rem 0 1rem;
  }
  .tags-small-container {
    align-items: flex-start;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 1rem 0;
    li {
      align-items: center;
      background-color: var(--accent-2);
      border-radius: 0.25rem;
      display: flex;
      font-weight: bold;
      margin: 0.25rem 0;
      max-width: 100%;
      padding: 0.25rem 0.5rem 0.25rem 0.5rem;
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      button {
        align-items: center;
        border-radius: 100%;
        display: flex;
        margin-left: 0.5rem;
        padding: 0;
        img {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
      button:hover {
        background-color: var(--focus);
      }
    }
  }
}

@media (max-width: 1200px) {
  #flashcard-bottom {
    flex-direction: column;
    align-items: center;
  }
  #flashcard-preview {
    height: 350px;
  }
  #flashcard-preview,
  #flashcard-form {
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }
  #flashcard-form {
    button[type="submit"] {
      margin: 2rem auto 0;
      max-width: 150px;
      width: 50%;
    }
  }
  #flashcard-container {
    width: 90%;
    padding: 1.5rem;
  }

  #flashcard-front,
  #flashcard-back {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  #flashcard-container {
    padding: 2rem 1rem;
    width: 100%;
  }
  #flashcard-form {
    .tags-small-container {
      display: flex;
    }
  }
  #flashcard-front ul li,
  #flashcard-back ul li {
    display: none;
  }
}

@media (max-width: 575px) {
  #flashcard-form {
    label {
      align-items: center;

      width: 100%;
      input {
        width: 100%;
      }
      select {
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
      }
      .checkbox-dropdown {
        max-width: 300px;
        width: 100%;
      }
    }
  }
}
